# ---- Node / React (frontend) ----
frontend/node_modules/
frontend/build/
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# ---- Java / Spring Boot (backend) ----
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml
backend/.idea/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
# Ignore sensitive configuration files
backend/src/main/resources/application*.properties
backend/src/main/resources/application*.yml



# ---- Common ----
.DS_Store
*.log
*.tmp
*.json
*.json
*.md

